<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <script src="https://unpkg.com/vue@next"></script>
    <!-- CDNJS :: Sortable (https://cdnjs.com/) -->
    <script src="//cdn.jsdelivr.net/npm/sortablejs@1.10.2/Sortable.min.js"></script>
    <!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
    <script src="/javascripts/vuedraggable.umd.min.js"></script>
    <!-- Vue Router -->
    <script src="https://unpkg.com/vue-router@4.0.5/dist/vue-router.global.js"></script>

    <!-- firebase -->
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.3.1/firebase-database.js"></script>
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
  </head>
  <body>
    <div id="app" class="container my-3">
      <work-component></work-component>
    </div>
    <script type="module">
    import workComponent from '/javascripts/workComponent.js';
    import router from '/javascripts/router.js';

    const app = Vue.createApp({
      components: {
        workComponent
      }
    })
    app.component('draggable', vuedraggable);
    app.use(router);
    app.mount('#app');
    </script>
  </body>
</html>
